.btn,
.btn-large,
.btn-small,
.btn-flat {
   border-radius: 4px;
   font-weight: 500;
}

.card:hover {
   box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.18);
}

.card {
   border-radius: 15px;
   box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.15);
}

img {
  width: 100%;
  height: auto;
}
