input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.image-name {
  color: #aaa;
  margin-left: 5px;
  border: 1px dashed ;
  padding: 5px 10px;
  display: inline-block;
}
